<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="./app.custom.js"></script>

<body>
  <div id="page-wrap">
    <layout-header></layout-header>
    <div id="Welcome" style="display: inline-block;
    margin-left: 5%;margin-right: 5%" class="tabcontent active">
      <p>Hi my name is Alex Carpenter a software developer from Oregon. Welcome to my site.
      </p>
      <img style="width:80%;" src="../assets/images/twitter2.JPG">
    </div>
    <div id="work" class="tabcontent">
      <h3>Work History</h3>
      <div style="float:left;width:40%">
        <img style="float:right;width:95%;" src="../assets/images/Sitting2.JPG">
      </div>
      <div style="float:right;width:50%">
        <p>I am a developer with four years of professional experience. I love learning new technologies and would say my biggest
          strength is the speed at which I can do so. My strategy when coding is to write code quickly then go back and extensivly
          test and refine. I am more cofomfortable when working alone or with a team/partner. My major projects include:
        </p>
      </div>
    </div>

    <div id="aboutme" class="tabcontent">
      <h3>About me</h3>
      <div style="float:left;width:50%">
        <p>I was born and raised in rural Eastern Oregon. My early life was mostly in a farm type setting. My grandmothers house
          where i visited often was next to a watermelon field that i would often play in. At home i grew up with all kinds
          of animals that I helped raise and take care of; my favorite being dogs. I currently have a French bulldog named
          Nelson.
        </p>
        <p>

          As I grew up I quickly found a love for technolgy and computers that I have kept to this day. I enjoy problem solving as
          well as analyzing and categorizing data. All of these things led me to learning about programming which eventaully
          led to me following this career path.
        </p>

      </div>
      <div style="float:right;width:40%">
        <img style="float:right;width:95%;"  src="../assets/images/menelson.JPG">
      </div>
    </div>

    <div id="links" class="tabcontent">
      <h3>Important Links</h3>
      <div style="float:left;width:40%">
        <p>LinkedIn: http://www.linkedin.com/pub/alex-carpenter/71/b10/264</p>
        <p>Facebook: https://www.facebook.com/alex.carpenter.1276</p>
        <p>Roux Ranch: http://rouxranch.com</p>
      </div>
      <div style="float:right;width:50%">
        <img style="float:right;width:95%;" src="../assets/images/twodogs.JPG">
      </div>
    </div>
    <script>

    </script>
    <layout-footer></layout-footer>
  </div>
</body>