
@media screen and (min-width : 230px) and (max-width : 480px) {
  #page-wrap {
    width:100%;
    background-color: #AF9D49;
    margin: 0 auto;
  }
}

@media  screen and (min-width : 480px) and (max-width : 1100px) {
  #page-wrap {
    width:100%;
    background-color: #AF9D49;
    margin: 0 auto;
  }
}

@media  screen and (min-width : 1100px) {
  #page-wrap {
    width:80%;
    background-color: #AF9D49;
    margin: 0 auto;
  }
}

/* Style the tab content */
.tabcontent {
  float:none;
  border: none;
  width: 80%;
  max-width: 80%;
  border-left: none;
  display: none;
  height: 620px;
  color: rgb(218, 255, 218);
}

.tabBlock {
  display: inline-block;
  width: 1000px;
}