<mat-toolbar color="primary">
    <span class="header">Alex Carpenter's Site</span>
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Welcome')">
          Welcome</button>
      <button class="tablinks" onclick="openTab(event, 'aboutme')">
        About Me</button>
      <button class="tablinks" onclick="openTab(event, 'work')">
        Work History</button>
      <button class="tablinks" onclick="openTab(event, 'links')">
        Links</button>
    </div>
  </mat-toolbar>