<mat-toolbar color="primary">
    <span class="header">Alex Carpenter's Site</span>
    <div  class="tab">
      <button class="tablinks" onclick="openTab(event, 'Welcome')">
        <p class="button-text"> Welcome</p></button>
      <button class="tablinks" onclick="openTab(event, 'aboutme')">
        <p class="button-text"> About Me</p></button>
      <button class="tablinks" onclick="openTab(event, 'work')">
        <p class="button-text"> Work History</p></button>
      <button class="tablinks" onclick="openTab(event, 'links')">
        <p class="button-text"> Links</p></button>
    </div>
  </mat-toolbar>