.tab {
    background-color: inherit;
    text-align: right;
    vertical-align: middle;
    width: 70%;
    height: 40px;
  }
  .header {
    color: yellow;
    font-family: fantasy;
    font-size: 36px; 
  }

  /* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  width: 20%;
  height: 100%;
  text-align: left;
  text-decoration-color: #3F2C2A;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.3s;
  font-family:Georgia;
}

  @media screen and (max-width : 835px) {

    .header {
      font-size: 26px; 
    }

    .tab button {
      word-wrap: break-word;
    }

    .button-text{
      word-wrap: break-word;
      white-space: normal;
    }
  }

  /* Add this to align vertically */
button > img,
button > span {
  vertical-align: middle;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #C86A45;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #C86A45;
}

